@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .article-section {
    line-height: 1.618;
    
    @apply text-base;

    &>* {
      margin-bottom: 1.75rem;
    }
  }

  .article-section a {
    @apply underline hover:no-underline;
  }
  
  .article-section img {
    @apply max-h-96;
  }
  
  .article-section h1 {
    @apply text-2xl font-semibold;
  }
  
  .article-section h2 {
    @apply text-xl font-semibold;
  }

  .article-section h3 {
    @apply font-semibold;
  }

  .article-section pre {
    // white-space: pre-wrap;

    @apply bg-dark-400 border border-outline rounded-md p-6 overflow-auto;
  }

  .article-section code {
    @apply bg-dark-400;
  }

  .article-section ul {
    list-style: disc;
    margin-left: 1.25rem;
  }
  
  .article-section ol {
    list-style: decimal;
    margin-left: 1.25rem;
  }
}
